<div class="container">

  <h3 class="my-3 text-center">Cadastro de prospectando</h3>

  <form [formGroup]="prospect" method="post" (ngSubmit)="onSubmit()">


    <input id="name" class="form-control my-3" type="text" placeholder="Digite seu nome" formControlName="name">
    <input id="email" class="form-control my-3" type="email" placeholder="Digite seu email" formControlName="email">
    <div class="row g-2">
      <div class="col-6">
        <input id="phone" name="phone" class="form-control my-3" type="text" placeholder="(DDD) 00000-0000"
          formControlName="phone">
      </div>
      <div class="col-6">

        <input title="file" class="form-control my-3" type="file" (change)="onChange($event)">
      </div>
    </div>
    <div class="d-flex justify-content-start">
      <button type="submit" class="btn btn-success ">
        Salvar
      </button>
    </div>

  </form>



  <div class="mt-5">
    <h3 class="text-center mb-5">Prospectados</h3>
    <table class="table ">
      <thead>
        <tr>
          <th scope="col">Nome</th>
          <th scope="col">Email</th>
          <th scope="col">Telefone</th>
          <th scope="col">Documento</th>
          <th scope="col">Ações</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of getAllData?.prospects">
          <td>{{item.name}}</td>
          <td>{{item.email}}</td>
          <td>{{item.phone}}</td>
          <td><a [href]="sanitize(item.document)">baixar</a></td>
          <td>


            <a class="btn btn-danger" (click)="deleteProspect(item.id)">
              excluir
            </a>


          </td>
        </tr>

      </tbody>
    </table>
  </div>

</div>
